.nav-bar
    background-color: $navBarBgColor
    
    > li 
        border: 0
        border-left: 1px solid $white
        line-height: 40px
        
        &:last-child
            border-right: 1px solid $white

        > a
            color: #F1FFDF
            
#main .page ul
    margin: 0 0 0 16px